body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  h1{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* keeps navbar above everything */
}

h1{
 margin-top: 100px;

}#imageCarousel {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.carousel-inner img {
    height: 500px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.row img {
    margin-bottom: 10px;
}


a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
}
